body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to left, #b5ebff, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Baloo Thambi', cursive;
}

.logo {
  display: block;
  margin: auto;
  width: 150px;
  height: 75px;
}

#series-select {
  display: block;
  margin: 25px auto;
}

h2 {
  text-align: center;
}

.amiibo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.amiibo {
  margin: 10px;
}

ul {
  padding: 0;
  margin: 20px;
}

li {
  font-size: 16px;
  text-align: center;
  list-style-type: none;
}

.image {
  display: block;
  margin: auto;
  height: 250px;
  width: 200px;
}






